<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1 id="check">Welcome to the Home Page from index html file</h1>
    <script>

        const paragraph = document.getElementById("check")
        paragraph.innerHTML = 'hello';
        const arr = [
            {
                "username": "skillyards"
            },
            {
                "username": "ojd - group"
            },
            {
                "username": " testing "
            }
        ];
    </script>
</body>

</html>